@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Taviraj&display=swap');

.extra-title
{
    color: black;
    text-align: center;
    text-indent: 50px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 6px #c9a4a4;
    font-family: "Alex Brush", cursive;
    font-weight: bold;
    font-size: 65px;
}

.menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    letter-spacing: 6px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.menu-item
{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px 40px 10px 10px;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #f7d8d8;
    vertical-align: middle;
}

.menu-item:hover
{
    color: #9c6868;
}

.menu-item-active
{
    position: relative;
    word-spacing: 5px;
    color: #ee2460;
    
}
